body {
    background-color: gray;
}

.containers {
    display: flex;
}



.sample1::before {
    display: block;
    content: "";
    width: 200px;
    height: 35px;
    background-color: black;
    border-radius: 5px 5px 0 0;
    margin: -80px;
    margin-left: calc(50% - 100px);
    opacity: 85%;
   
}

.sample2::before {
    display: block;
    content: "";
    width: 200px;
    height: 35px;
    background-color: black;
    border-radius: 5px 5px 0 0;
    margin: -80px;
    margin-left: calc(50% - 100px);
    opacity: 85%;
    
}

.sample3::before {
    display: block;
    content: "";
    width: 200px;
    height: 35px;
    background-color: black;
    border-radius: 5px 5px 0 0;
    margin: -80px;
    margin-left: calc(50% - 100px);
    opacity: 85%;
    
}

.sample1 {
    display: inline-block;
    width: 500px;
    padding: 50px;
    margin: 100px;
    border: solid;
    background-color: darkkhaki;
    box-shadow: 4px 4px 7px black;
    border-radius: 20px;
}

.sample2 {
    display: inline-block;
    width: 500px;
    padding: 50px;
    margin: 100px;
    border: solid;
    background-color: darkkhaki;
    box-shadow: 4px 4px 7px black;
    border-radius: 20px;
}

.sample3 {
    display: inline-block;
    width: 500px;
    padding: 50px;
    margin: 100px;
    border: solid;
    background-color: darkkhaki;
    box-shadow: 4px 4px 7px black;
    border-radius: 20px;
}

.sample-p {
    margin: -5px;
    width: -50px;
    height: 65px;

}

.sample-texts {
    text-align: center;
    text-shadow: rgb(255, 255, 255) 0px -2px, rgb(255, 255, 255) 0px 3px;
    margin: 90px;
}